.active-emotion {
    color: #ff0005;
}

body .active-comment {
    display: flex;
}

.subheadline {
    padding: 20px 0;
    font-style: italic;
    font-size: 20px;
}

.text {
    font-size: 20px;
    padding: 10px 0;
}

.posts {
    margin: 0 0;
}

.box-post-img {
    width: 100%;
    text-align: center;
}

.box-post-img .post-img {
    width: 100%;
}

.box-post-img .post-img-text {
    font-style: italic;
    padding: 6px 0;
    width: 80%;
    margin: auto;
}

#concerned {
    margin: 30px 0;
    border-radius: 8px;
    border: 1px solid var(--color);
    padding: 20px 40px;
}

#concerned h3 {
    font-size: 24px;
}

.most-accessed .img-post {
    height: 90px;
    width: 94%;
}

.list-posts .img-post {
    height: 150px;
}

.header-most-accessed {
    margin-bottom: 30px;
}

.post-item h3 {
    font-size: 16px;
    height: max-content;
}

.post-item-div {
    margin: 0 0 6px;
}

.author {
    font-size: 13px;
}

#concerned .information-post h3 {
    font-size: 20px;
    height: 50px;
    -webkit-line-clamp: 2;
}

.information-post>p {
    margin: 10px 0;
}

.info-post {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 30px;
    border-top: 1px solid var(--color);
    font-style: italic;
    align-items: center;
    margin: 0;
}

.info-post p {
    font-size: 20px;
}

.info-post-box {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.list-btn {
    text-align: right;
    margin: 30px;
    position: relative;
}

.list-btn .btn-item {
    background-color: var(--backgr);
    border: 1px solid var(--color);
    padding: 6px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.list-btn .btn-item:hover {
    background-color: var(--color);
    color: var(--backgr);
}

.feeling {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}

.feeling-box {
    display: flex;
    cursor: pointer;
}

.feeling-box i {
    margin-right: 6px;
    font-size: 20px;
}

.feeling-box p {
    font-size: 20px;
}

.comment {
    width: 72%;
    border-radius: 6px;
    border: 1px solid var(--color);
    margin: 20px auto;
}

.comment-box {
    width: 90%;
    margin: 20px auto;
}

.cm-item {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.comment img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

.cm-item-info,
.cm-item-info-parent {
    background-color: #f0f0f0;
    width: max-content;
    padding: 4px 10px;
    border-radius: 6px;
}

.cm-item-info p,
.cm-item-info-parent p {
    font-size: 13px;
    font-weight: lighter;
}

/*  */
.cm-item-feeling,
.cm-item-feeling-parent {
    display: flex;
    position: relative;
}

.son-comments {}

.son-comment-item {
    display: flex;
    margin: 10px 0;
}

.write-comment-parent {
    width: 100%;
    /* display: none; flex */
    display: none;
    align-items: center;
    margin: 10px;
}

.write-comment-parent input {
    flex: 2;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    height: 30px;
    background-color: #f0f0f0;
}

.cm-item-info-feeling,
.cm-item-info-feeling-parent {
    width: 100%;
}

.cm-item-feeling li,
.cm-item-feeling-parent li {
    font-size: 10px;
    cursor: pointer;
    padding: 0 2px;
}

.cm-item-feeling li:nth-child(2) {
    padding: 0 6px;
}

.write-comment {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.write-comment input {
    flex: 2;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    height: 30px;
    background-color: #f0f0f0;
}