#categories {
    font-size: 30px;
    /* padding-top: 30px; */
}

.list-post {
    position: relative;
}

.post-right {
    padding-top: 70px;
}

.list-post::after {
    /* border-left: 2px solid var(--color); */
    height: 100%;
    content: '';
    width: 2px;
    background-color: var(--color);
    position: absolute;
    top: 0;
    left: 0;

}

.post-item {
    display: block;
    padding-left: 10px;
}

.post-item::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color);
    position: absolute;
    top: 0;
    left: -3px;
}

.post-item a {
    min-width: 34%;
    flex-basis: 36%;
}

.post-item .img-post {
    width: 100%;
}

.post-right h3 {
    font-size: 22px;
}