
.body {
    margin-top: 30px;
    position: relative;
}

.post-host {
    display: flex;
    justify-content: space-between;
}

.post-1 {
    width: 40%;
    cursor: pointer;
}

.post-1 img {
    width: 100%;
    height: 320px;
}

.post-1 h3 {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0;
}

.post-1 p {
    font-size: 14px;
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.post-2 {
    width: 23%;
}

.box-post-2 {
    padding-bottom: 16px;
    cursor: pointer;
}

.box-post-2 img {
    width: 100%;
    height: 120px;
}

.box-post-2 h5 {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0;
}

.box-post-2 p {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.poster {
    width: 30%;
}

.poster img {
    width: 100%;
}

.author {
    display: flex;
    margin-top: 10px;
    position: relative;
}

.author img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.name-author {
    padding: 0 10px;
}

.contact-author {
    position: absolute;
    top: 30px;
    height: 50px;
    display: flex;
    padding: 0 20px;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
    box-shadow: -2px -2px 8px #dedede,
        2px 2px 8px #d5d5d5;
    display: none;
}

.contact-author::after {
    content: '';
    width: 100%;
    height: 26px;
    position: absolute;
    bottom: 42px;
}

.author:hover .contact-author {
    display: flex;
}

.contact-author button {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


.list-fun {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.fun-item {
    flex: 1;
    border: 1px solid var(--color);
    height: 26px;
    padding-top: 10px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.active {
    background-color: var(--color);
    color: var(--backgr);
}

.list-posts {}

.post-item {
    display: none;
}

.active_list_post {
    display: block;
}

.banner-post {
    width: 100%;
}

.messenger {
    width: 100%;
    text-align: right;
    position: sticky;
    bottom: 20px;
}

.messenger i {
    font-size: 40px;
    cursor: pointer;
}

.quantity-info {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-size: 10px;
    text-align: center;
}

.box-mess {
    width: 457px;
    height: 541px;
    background-color: var(--backgr);
    border: 1px solid var(--color);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 46px;

}

.header-mess {
    width: 100%;
    background-color: #989898;
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-mess {
    padding: 10px 0;
    text-align: left;
}

.item-mess .none {
    padding: 50px;
    text-align: center;
}

.item-mess img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

.dialogbox {
    display: flex;
    padding: 10px 20px;
    color: #8F8F8F;
    cursor: pointer;
}

.dialogbox:hover {
    background-color: #f5f5f5;
}

.mess-active {
    color: #000;
}

.privacy-dialog {
    width: 100%;
    padding-top: 20px;
    display: none;
}

.privacy-dialog .user {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0 0 6px 0;
    border-bottom: 1px solid #b3b3b3;
}

.privacy-dialog img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border-radius: 50%;
}

.privacy-dialog i {
    font-size: 18px;
    padding: 0 16px 0 22px;
    color: #989898;
}

.dialog-box-privacy {
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dialog-box-privacy .you,
.dialog-box-privacy .me {
    width: max-content;
    height: 30px;
    border-radius: 10px;
    padding: 0 20px;
    color: #fff;
    margin: 4px;
    display: flex;
    align-items: center;
}

.box-dialog-box-privacy {
    width: 100%;
    clear: both;
}

.dialog-box-privacy .me {
    align-self: flex-end;
    margin: 2px 0 2px 8px;
    background-color: #4572E6;
    float: right;
    position: relative;
}

.mess-hover {
    position: absolute;
    left: -40px;
    display: none;
    z-index: 999;
}

.dialog-box-privacy .me::after {
    content: '';
    width: 40px;
    height: 100%;
    position: absolute;
    left: -20px;
}

.dialog-box-privacy .me:hover .mess-hover {
    display: block;
}

.box-delete-message {
    display: none;
    width: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    /* height: 100%; */
    background: red;
    left: -80px;
    position: absolute;
    top: -32px;
    cursor: pointer;
}

.mess-hover::after {
    content: '';
    width: 32px;
    height: 20px;
    position: absolute;
    top: -13px;
    left: 0;
}

.dialog-box-privacy .you {
    background-color: #b3b3b3;
    float: left;
}

.input-mess {
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

#input-mess {
    flex: 2;
    border-radius: 12px;
    outline: none;
    border: none;
    height: 80%;
    background-color: #e3e3e3;
    padding: 0 20px;
}

.input-mess i {
    width: 20px;
    padding: 0 32px 0 16px;
    color: #4572E6;
}

