:root {
    --backgr: #fff;
    --color: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* font-size: 16px; */
}

html {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color);
}

@keyframes display {
    0% {
        right: -100%;
    }

    10% {
        right: -82%;
    }

    20% {
        right: -72%;
    }

    30% {
        right: -62%;
    }

    40% {
        right: -52%;
    }

    50% {
        right: -42%;
    }

    60% {
        right: -32%;
    }

    70% {
        right: -22%;
    }

    80% {
        right: -12%;
    }

    90% {
        right: 2%;
    }

    100% {
        right: 8%;
    }
}

.wst {
    width: 76%;
    margin: 30px auto;
}

menu {
    display: flex;
    justify-content: space-between;
}

.menu-left,
.menu-right {
    display: flex;
}

.menu-left p {
    padding-right: 36px;
    cursor: pointer;
}

.menu-right i {
    padding-right: 36px;
    cursor: pointer;
}

.menu-right i.fa-user {
    padding-right: 0;
}

.noti {
    display: flex;
    position: relative;
}

.box-noti {
    width: 400px;
    height: 292px;
    background-color: var(--backgr);
    position: absolute;
    top: 20px;
    right: 36%;
    border-radius: 6px;
    box-shadow: -2px -2px 8px #f2f2f2,
        -2px -2px 8px #f2f2f2;
    padding: 20px 16px;
    display: none;
    z-index: 999;
}

.box-noti h2 {
    font-size: 20px;
    padding: 0 0 20px 0;
}

.box-noti img {
    width: 74px;
    height: 42px;
    border-radius: 4px;
    margin-right: 8px;
}

.box-user {
    display: flex;
    cursor: pointer;
    position: relative;
}

.box-user img {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    border-radius: 50%;
}

.box-logout {
    position: absolute;
    bottom: -56px;
    background-color: var(--backgr);
    box-shadow: 0px -0 8px #e3e3e3,
        0 0 8px #e3e3e3;
    width: 120px;
    height: 46px;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    display: none;
}

.box-logout li:first-child {
    padding: 4px 0;
    border-bottom: 1px solid #000;
}

.info-post {
    display: flex;
    margin: 14px 0;
}

.header-post {
    font-size: 16px;
    font-weight: bold;
}

.see-post {
    position: absolute;
    bottom: 6px;
    width: 100%;
    text-align: center;
}

.noti:hover .box-noti {
    display: block;
}

.box-noti::after {
    content: '';
    width: 80px;
    height: 40px;
    position: absolute;
    top: -22px;
    right: 5px;
}

/* logo-bn */
.logo-bn {
    display: flex;
    justify-content: space-between;
    height: 86px;
    margin: 32px 0;
}

.logo-bn .logo {
    width: 14%;
}

.logo-bn .banner {
    width: 54%;
    border-radius: 2px;
}

/* nav */
.nav {
    display: flex;
    padding: 0 10px;
    height: 46px;
    background-color: var(--color);
    align-items: center;
    border-radius: 4px;
}

.list-nav {
    display: flex;
    flex: 2;
    justify-content: space-evenly;
}

.list-nav a,
.list-nav p {
    color: var(--backgr);
    cursor: pointer;
}

.other {
    position: relative;
}

.list-other {
    position: absolute;
    text-align: center;
    background-color: var(--color);
    border-radius: 4px;
    height: max-content;
    width: 100px;
    top: 34px;
    display: none;
    z-index: 99999;
}

.list-other::after {
    content: '';
    position: absolute;
    width: 54px;
    height: 24px;
    top: -20px;
    left: 0;
}

.other:hover .list-other {
    display: block;
}

.list-other li {
    padding: 4px 0;
}

.box-search {
    width: 30%;
    text-align: right;
    color: var(--backgr);
    position: relative;
}

.fa-magnifying-glass {
    font-size: 22px;
    margin-top: 10px;
}

.input-search {
    border-radius: 10px;
    height: 30px;
    width: 86%;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 12px;
}

/* Body */
.posts {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.post-left {
    width: 67%;
}

.post-right {
    width: 30%;
}

.post-item-div {
    display: flex;
    margin: 30px 0;
    cursor: pointer;
}

.post-item .img-post {
    /* width: 43%; */
    height: 201px;
    margin-right: 30px;
    flex-basis: 36%;
    min-width: 34%;
}

.information-post {
    flex-basis: 56%;
    min-width: 30%;
}

.information-post h3 {
    font-size: 20px;
    font-weight: 600;
    height: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.information-post>p {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin: 20px 0;
}

/* Post-right */
.topic-item {
    display: flex;
    margin: 10px 0;
    cursor: pointer;
}

.topic-item>a {
    min-width: 28%;
    flex-basis: 34%;
    margin-right: 10px;
}

.topic-item>a>img {
    width: 100%;
    height: 80px;
}

.information-post-right {
    flex-basis: 64%;
}

.information-post-right h3 {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.information-post-right .author img {
    width: 14px;
    height: 14px;
}

.information-post-right .author p {
    font-size: 12px;
}

.author {
    display: flex;
    margin: 10px 0 20px;
    position: relative;
    width: max-content;
}

.author img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.name-author {
    padding: 0 10px;
}

.contact-author {
    position: absolute;
    top: 30px;
    height: 50px;
    display: flex;
    padding: 0 20px;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
    box-shadow: -2px -2px 8px #dedede,
        2px 2px 8px #d5d5d5;
    display: none;
}

.contact-author::after {
    content: '';
    width: 100%;
    height: 26px;
    position: absolute;
    bottom: 42px;
}

.author:hover .contact-author {
    display: flex;
}

.contact-author button {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* Messenger */
.messenger {
    width: 100%;
    text-align: right;
    position: sticky;
    bottom: 20px;
}

.messenger i {
    font-size: 40px;
    cursor: pointer;
}

.quantity-info {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-size: 10px;
    text-align: center;
}

.box-mess {
    width: 457px;
    height: 541px;
    background-color: var(--backgr);
    border: 1px solid var(--color);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 46px;

}

.header-mess {
    width: 100%;
    background-color: #989898;
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-mess {
    padding: 10px 0;
    text-align: left;
}

.item-mess .none {
    padding: 50px;
    text-align: center;
}

.item-mess img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

.dialogbox {
    display: flex;
    padding: 10px 20px;
    color: #8F8F8F;
    cursor: pointer;
}

.dialogbox:hover {
    background-color: #f5f5f5;
}

.mess-active {
    color: #000;
}

.privacy-dialog {
    width: 100%;
    padding-top: 20px;
    display: none;
}

.privacy-dialog .user {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0 0 6px 0;
    border-bottom: 1px solid #b3b3b3;
}

.privacy-dialog img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border-radius: 50%;
}

.privacy-dialog i {
    font-size: 18px;
    padding: 0 16px 0 22px;
    color: #989898;
}

.dialog-box-privacy {
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dialog-box-privacy .you,
.dialog-box-privacy .me {
    width: max-content;
    height: 30px;
    border-radius: 10px;
    padding: 0 20px;
    color: #fff;
    margin: 4px;
    display: flex;
    align-items: center;
}

.box-dialog-box-privacy {
    width: 100%;
    clear: both;
}

.dialog-box-privacy .me {
    align-self: flex-end;
    margin: 2px 0 2px 8px;
    background-color: #4572E6;
    float: right;
    position: relative;
}

.mess-hover {
    position: absolute;
    left: -40px;
    display: none;
    z-index: 999;
}

.dialog-box-privacy .me::after {
    content: '';
    width: 40px;
    height: 100%;
    position: absolute;
    left: -20px;
}

.dialog-box-privacy .me:hover .mess-hover {
    display: block;
}

.box-delete-message {
    display: none;
    width: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    /* height: 100%; */
    background: red;
    left: -80px;
    position: absolute;
    top: -32px;
    cursor: pointer;
}

.mess-hover::after {
    content: '';
    width: 32px;
    height: 20px;
    position: absolute;
    top: -13px;
    left: 0;
}

.dialog-box-privacy .you {
    background-color: #b3b3b3;
    float: left;
}

.input-mess {
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

#input-mess {
    flex: 2;
    border-radius: 12px;
    outline: none;
    border: none;
    height: 80%;
    background-color: #e3e3e3;
    padding: 0 20px;
}

.input-mess i {
    width: 20px;
    padding: 0 32px 0 16px;
    color: #4572E6;
}

/* Footer */
footer {
    background-color: #111111;
    width: 100%;
    color: var(--backgr);
}

.box-ft {
    width: 68%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 70px 0;
}

.ft-info {}

footer img {
    width: 46%;
    position: relative;
    top: -30px;
}

.box-ft-info {
    padding: 10px 0;
}

.box-ft-info i {
    margin-right: 10px;
}

.box-ft-info-mxh {
    margin-top: 10px;
    display: flex;
}

.box-icon {
    width: 30px;
    height: 30px;
    border: 1px solid var(--backgr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-info h2 {
    margin-bottom: 58px;
}

.ft-info p,
.ft-info i {
    padding: 10px 0;
}